


footer{
    font-size: 1rem;
    height: 150px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    background-color: $mainBlue;
    font-family: $fontFamily;

    
}

footer h3{
    color: white;
}

/*footer nav*/

.footer-nav{
   height: 100%;
  @include flexColumn(space-around);
  font-size: 1em;
  flex-wrap: wrap;
}

.footer-nav a{
    text-decoration: none;
    color: white;
    &:hover{
        color: $lightBlue;
    }
    font-weight: 600;
}



/*share-footer*/

.share-footer{
    height: 100%;
    @include flexColumn(space-evenly);
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}


.share-social-icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

}

.share-social-icons .fa{
   width: 100px;
   height: 40px;
   @include flexCenter();
   border-radius: 3px;
   

}


.share-social-icons a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

/*individual font awesome styles for the share footer*/
.share-social-icons .fa-facebook{
    background-color:  #3b5998;
}

.share-social-icons .fa-google{
    background-color:  #DB4437;
}

.share-social-icons .fa-twitter{
    background-color: rgb(21,161,242);
}

.share-social-icons .fa-whatsapp{
    background-color: #128C7E;
}

/*follow footer*/
.follow-footer{
   height: 100%;
   @include flexColumn(space-evenly);
   width: 100%;
   align-items: center;

}

.follow-social-icons{
   display: flex;
   justify-content: space-between;
   align-items: center;
    width: 30%;

}

.follow-social-icons .fa{
    border-radius: 100%;
    height:50px;
    width: 50px;
    @include flexCenter();
   
    
}

.follow-social-icons a{
    text-decoration: none;
    color: white;
}
/*individual follow styles*/
.follow-social-icons .fa-facebook{
    background-color:  #3b5998;

}

.follow-social-icons .fa-instagram{
    
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}



@media only screen and (max-width: 1102px){
    footer{
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: none;
        height: 450px;
    }

    .footer-nav{
        text-align: center;
    }

    .follow-social-icons{
        justify-content: space-around;
        width: 20%;
    }

}


@media only screen and (max-width: 375px){
   .share-social-icons .fa{
       width: 50px;
   }
}