.works-main{
    width: 100%;
    height: auto;
}

.works-bar{
    width: 100%;
    height: 50px;
    background-color: rgb(18, 36, 53);
}

.works-bar img{
    height: 50px;
    width: 300px;
    position: relative;
    left: 20%;
}

/*what is unimentors section*/

.what-is-unimentors{
   display: grid;
   width: 100%;
   height: 300px;
   grid-template-columns: 1fr 1fr;
}

.what-is-unimentors img{
    height: 250px;
    width: 300px;
    justify-self: start;
    margin-left: 5%;
    align-self:center;
}


.what-is-unimentors-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 35%;
    justify-self: end;
    align-self: center;
    text-align: start;
    margin-right: 5%;
    font-family: $subFont;
}