/*import fonts*/
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");
/*mixins*/
/*variables*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

/*imports*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1D2D3C;
  font-size: 1rem;
}

.um-logo {
  height: 40px;
  width: 40px;
  margin-left: 5%;
}

.um-logo img {
  height: 100%;
  width: 100%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8%;
  font-size: 1rem;
}

nav a {
  font-size: 0.9em;
  text-decoration: none;
  color: white;
  font-family: "Quattrocento Sans";
  font-weight: 600;
}

nav a:hover {
  color: #00A9E0;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

@media only screen and (max-width: 759px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-right: 0%;
  }
  .um-logo {
    margin-left: 0%;
  }
}

footer {
  font-size: 1rem;
  height: 150px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  background-color: #1D2D3C;
}

footer h3 {
  color: white;
}

/*footer nav*/
.footer-nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1em;
}

.footer-nav a {
  text-decoration: none;
  color: white;
}

.footer-nav a:hover {
  color: #00A9E0;
}

/*share-footer*/
.share-footer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.share-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.share-social-icons .fa {
  width: 100px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.share-social-icons a {
  text-decoration: none;
}

/*individual font awesome styles for the share footer*/
.share-social-icons .fa-facebook {
  background-color: blue;
}

.share-social-icons .fa-instagram {
  background-color: pink;
}

.share-social-icons .fa-twitter {
  background-color: lightblue;
}

.share-social-icons .fa-whatsapp {
  background-color: green;
}

/*follow footer*/
.follow-footer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.follow-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.follow-social-icons .fa {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.follow-social-icons a {
  text-decoration: none;
}

/*individual follow styles*/
.follow-social-icons .fa-facebook {
  background-color: blue;
}

.follow-social-icons .fa-instagram {
  background-color: lightcoral;
}

/*variables*/
/*# sourceMappingURL=site.css.map */