/*import fonts*/
@import url("https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
/*mixins*/
/*variables*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

/*imports*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1D2D3C;
  font-size: 1rem;
}

.um-logo {
  height: 40px;
  width: 40px;
  margin-left: 5%;
}

.um-logo img {
  height: 100%;
  width: 100%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8%;
  font-size: 1rem;
}

nav a {
  font-size: 0.9em;
  text-decoration: none;
  color: white;
  font-family: "Quattrocento Sans";
  font-weight: 600;
}

nav a:hover {
  color: #00A9E0;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

@media only screen and (max-width: 759px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin-right: 0%;
  }
  .um-logo {
    margin-left: 0%;
  }
}

.home-main {
  width: 100%;
  height: 100vh;
  background-color: rgba(29, 45, 60, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "PT Sans", sans-serif;
  font-size: 1rem;
  border: none;
}

.home-main::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url("../Images/home-background.jpg");
  background-position: center top;
  background-size: cover;
  opacity: 0.8;
}

/*home header section*/
.home-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: auto;
}

.home-header span {
  color: white;
  font-size: 1.8em;
  text-align: center;
}

/*home info section*/
.home-info {
  width: 50%;
  height: auto;
  text-align: center;
  font-size: 1.9em;
  color: white;
}

/*home buttons*/
.home-buttons-section {
  width: 50%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.home-buttons-section h3 {
  color: white;
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
}

.home-buttons {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home-buttons a {
  text-decoration: none;
  color: white;
  background-color: #00A9E0;
  width: 45%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.1em;
}

@media only screen and (max-width: 1208px) {
  .home-main {
    font-size: 0.8rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media only screen and (max-width: 706px) {
  .home-info {
    width: 100%;
  }
  .home-button {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 680px) {
  .home-buttons {
    width: 80%;
  }
}

@media only screen and (max-width: 413px) {
  .home-header img {
    width: 250px;
  }
}

@media only screen and (max-width: 280px) {
  .home-buttons {
    width: 200px;
  }
}

.works-main {
  width: 100%;
  height: auto;
  font-family: "PT Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.works-bar {
  width: 100%;
  height: 50px;
  background-color: #122435;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works-bar h2 {
  color: white;
  font-family: "Quattrocento Sans";
  font-size: 1.5em;
  margin-left: 10%;
}

.works-bar h2 span {
  color: #00A9E0;
}

/*what is unimentors section*/
.what-is-unimentors {
  display: -ms-grid;
  display: grid;
  width: 100%;
  height: 300px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.what-is-unimentors img {
  height: 250px;
  width: 400px;
  -ms-grid-column-align: start;
      justify-self: start;
  margin-left: 5%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.what-is-unimentors-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  height: 35%;
  justify-self: end;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: start;
  margin-right: 5%;
  font-family: "PT Sans", sans-serif;
}

/*why become a tutor*/
.why-become {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1em;
}

.why-become-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 200px;
}

.why-become-info .make-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.why-become a {
  text-decoration: none;
  color: white;
  background-color: #00A9E0;
  width: 20%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.1em;
  text-align: center;
}

/*last three sections*/
.what-is-a-client, .features, .signing-up {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: start;
  padding: 5% 0;
}

.what-is-a-client p, .features p, .signing-up p {
  width: 80%;
}

/*media queries*/
@media only screen and (max-width: 806px) {
  .what-is-unimentors img {
    width: 300px;
    height: 200px;
  }
  .what-is-unimentors-info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  .works-main {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 415px) {
  .what-is-unimentors img {
    width: 150px;
  }
  .works-bar img {
    width: 200px;
  }
}

.about-main {
  width: 100%;
  height: auto;
  font-size: 1rem;
}

/*setting up the grid*/
.about-main-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 5% 15% (1fr)[2];
      grid-template-rows: 1fr 5% 15% repeat(2, 1fr);
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 90%;
  height: 1500px;
  margin: 2% auto;
}

.about-main-grid h2 {
  color: #1D2D3C;
  font-weight: 700;
  text-align: center;
}

.about-main-grid p {
  color: #00A9E0;
}

/*our mission*/
.our-mission-pic {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/span 1/span 1;
  background-image: url("../Images/our-mission-pic.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
  width: 100%;
}

.our-mission {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/span 1/ span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 45%;
  -ms-flex-item-align: center;
      align-self: center;
}

.our-mission p {
  width: 80%;
  text-align: start;
}

/*who we are*/
.who-we-are-head {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 2/1/span 1/span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.who-we-are-info-1 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3/1/span 1/span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: start;
}

.who-we-are-info-2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 3/2/span 1/span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: start;
      align-self: start;
}

.who-we-are-info-1 p, .who-we-are-info-2 p {
  width: 80%;
  text-align: start;
}

/*no money*/
.no-money-pic {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4/1/span 1/span 1;
  background-image: url("../Images/no-money-pic.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  width: 100%;
}

.no-money {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 4/2/span 1/span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30%;
  -ms-flex-item-align: center;
      align-self: center;
}

.no-money p {
  width: 80%;
  text-align: start;
}

/*get a job*/
.get-job {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 5/1/span 1/span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30%;
  -ms-flex-item-align: center;
      align-self: center;
}

.get-job p {
  width: 80%;
  text-align: start;
}

.get-job-pic {
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 5/2/span 1/span 1;
  background-image: url("../Images/get-job-pic.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
  width: 100%;
}

/*media queries*/
@media only screen and (max-width: 855px) {
  .about-main {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 792px) {
  .get-job-pic, .no-money-pic, .our-mission-pic {
    height: 80%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (max-width: 638px) {
  .get-job-pic, .no-money-pic, .our-mission-pic {
    height: 60%;
  }
}

@media only screen and (max-width: 414px) {
  .get-job-pic {
    background-image: url("../Images/get-job-pic-small.jpg");
  }
  .about-main-grid {
    -ms-grid-rows: 1fr 5% 20% (1fr)[2];
        grid-template-rows: 1fr 5% 20% repeat(2, 1fr);
  }
}

@media only screen and (max-width: 360px) {
  .about-main {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 280px) {
  .about-main {
    font-size: 0.6rem;
  }
  .get-job-pic, .no-money-pic, .our-mission-pic {
    height: 40%;
  }
}

.privacy-policy-content {
  text-align: start;
  margin: 5% auto;
  width: 80%;
  font-family: "Quattrocento Sans";
  color: #1D2D3C;
  font-weight: 600;
}

.terms-content {
  text-align: start;
  margin: 5% auto;
  width: 80%;
  font-family: "Quattrocento Sans";
  color: #1D2D3C;
  font-weight: 600;
}

.contact-main {
  height: auto;
  width: 100%;
  font-size: 1rem;
}

.contact-form h2 {
  font-size: 2em;
  color: #1D2D3C;
  font-weight: 700;
  text-align: center;
  font-family: "Quattrocento Sans";
}

/*contact form*/
.contact-form {
  width: 100%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  height: 75%;
  -webkit-box-shadow: 0px 0px 8px black;
          box-shadow: 0px 0px 8px black;
  border-radius: 5px;
  font-family: "PT Sans", sans-serif;
}

.contact-form input, .contact-form textarea {
  border: 2px solid #00A9E0;
  height: 35px;
  width: 50%;
  border-radius: 2px;
  padding: 3px;
}

.contact-form input:focus, .contact-form textarea:focus {
  outline: none;
}

.contact-form textarea {
  height: 80px;
}

.contact-form button {
  color: white;
  background-color: #00A9E0;
  width: 30%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1.1em;
  text-align: center;
  border: none;
  cursor: pointer;
}

.contact-form button:focus {
  outline: none;
}

@media only screen and (max-width: 852px) {
  .contact-form form {
    width: 80%;
  }
}

@media only screen and (max-width: 710px) {
  .contact-form h2 {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 652px) {
  .contact-form input, .contact-form textarea {
    width: 90%;
  }
  .contact-form {
    margin-bottom: 10%;
    margin-top: 10%;
  }
}

@media only screen and (max-width: 280px) {
  .contact-form h2 {
    font-size: 1em;
  }
}

footer {
  font-size: 1rem;
  height: 150px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  background-color: #1D2D3C;
  font-family: "Quattrocento Sans";
}

footer h3 {
  color: white;
}

/*footer nav*/
.footer-nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-nav a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.footer-nav a:hover {
  color: #00A9E0;
}

/*share-footer*/
.share-footer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.share-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.share-social-icons .fa {
  width: 100px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
}

.share-social-icons a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/*individual font awesome styles for the share footer*/
.share-social-icons .fa-facebook {
  background-color: #3b5998;
}

.share-social-icons .fa-google {
  background-color: #DB4437;
}

.share-social-icons .fa-twitter {
  background-color: #15a1f2;
}

.share-social-icons .fa-whatsapp {
  background-color: #128C7E;
}

/*follow footer*/
.follow-footer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.follow-social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.follow-social-icons .fa {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.follow-social-icons a {
  text-decoration: none;
  color: white;
}

/*individual follow styles*/
.follow-social-icons .fa-facebook {
  background-color: #3b5998;
}

.follow-social-icons .fa-instagram {
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

@media only screen and (max-width: 1102px) {
  footer {
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: none;
        grid-template-columns: none;
    height: 450px;
  }
  .footer-nav {
    text-align: center;
  }
  .follow-social-icons {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 20%;
  }
}

@media only screen and (max-width: 375px) {
  .share-social-icons .fa {
    width: 50px;
  }
}

.multi-graphic {
  width: 100%;
  height: 200px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.multi-graphic::before {
  content: '';
  position: absolute;
  z-index: -1;
  background-image: url("../Images/multi-graphic.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.multi-graphic h1 {
  color: white;
  font-size: 3em;
  font-family: "Quattrocento Sans";
  margin-bottom: 3%;
  text-align: center;
}

.multi-graphic span {
  color: #00A9E0;
}

/*variables*/
/*# sourceMappingURL=site.css.map */