/*import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');

/*mixins*/
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColumn($justifyContent) {
    display: flex;
    flex-direction: column;
    justify-content: $justifyContent;
   
}

/*variables*/
$mainBlue: #1D2D3C;
$fontFamily: 'Quattrocento Sans';
$lightBlue: #00A9E0;

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

/*imports*/
@import './header';
@import './footer';

/*variables*/
