/*import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/*mixins*/
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexColumn($justifyContent) {
    display: flex;
    flex-direction: column;
    justify-content: $justifyContent;
   
}

@mixin flexColumn2($justifyContent){
    display: flex;
    justify-content: $justifyContent;
    align-items: center;
    flex-direction: column;
    
}

/*variables*/
$mainBlue: #1D2D3C;
$fontFamily: 'Quattrocento Sans';
$lightBlue: #00A9E0;
$subFont: 'PT Sans', sans-serif;

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

/*imports*/
@import './header';
@import './home';
@import './how-it-works';
@import './about-us';
@import './privacy-policy';
@import './terms-and-conditions';
@import './contact-us';
@import './footer';



@import './multi-graphic';

/*variables*/
